<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MagicalMusic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink='SearchComponent'>Search <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink='RecommendedComponent'>Recommended</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink='FavoritesComponent'>Favorites</a>
        </li>
      </ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink='LoginPageComponent'>Login</a>
            <a class="dropdown-item" routerLink='RegistrationPageComponent'>Register</a>
        </div>
    </div>
    </div>
  </nav>
<!-- <app-tab></app-tab> -->
<div class="container-fluid">
<mat-grid-list cols="4" rowHeight="600px">
  <mat-grid-tile>
    <app-song-card></app-song-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-song-card></app-song-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-song-card></app-song-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-song-card></app-song-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-song-card></app-song-card>
  </mat-grid-tile>
</mat-grid-list>
</div>

<router-outlet></router-outlet>