<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MagicalMusic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink='SearchComponent'>Search <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink='RecommendedComponent'>Recommended</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='FavoritesComponent'>Favorites</a>
        </li>
      </ul>
      
      <div *ngIf="globalDataService.loggedIn; else elseBlock">
        <!-- If the person is logged in -->
        <div class="nav-item dropdown">
          <img style="height:100px"
                (change)="onChange()"
                src={{url}} 
                class="rounded-circle"  alt="Image" />
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink='EditUserPageComponent'>Edit</a>
            <a type="button" class="dropdown-item" (click)="logOut()" routerLink='SearchComponent'>Logout</a>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <!-- If the person is logged out -->                
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink='LoginPageComponent'>Login</a>
                <a class="dropdown-item" routerLink='RegistrationPageComponent'>Register</a>
            </div>
        </div>
      </ng-template>

      
    </div>
</nav>


<!-- <app-tab></app-tab> -->
<!-- <div class="container-fluid">
<mat-grid-list cols="4" rowHeight="600px">
  <mat-grid-tile>
    <app-song-card [song]="'test'" [artist]="'test1'"></app-song-card>
  </mat-grid-tile> -->

<!-- <app-edit-user-page> -->
  
  <!-- <app-song-card [song]="'Hello'" [artist]="'Me'"></app-song-card> -->

<!-- </app-edit-user-page>
<div class="container-fluid row" >
  <app-song-card></app-song-card>
  <app-song-card></app-song-card>
  <app-song-card></app-song-card>
  <app-song-card></app-song-card>
  <app-song-card></app-song-card>
  <app-song-card></app-song-card>
</div> -->

<router-outlet></router-outlet>