

<form>
    <div class="d-flex flex-column justify-content-center align-items-center" style="text-align: center; height: 500px">    
        <h1 class="p-4" style="text-align: center;">Login</h1>    
        <div class="w-100" style="align-content: center;">
            <mat-form-field style="width:500px; " >
                <input style="width:500px" matInput placeholder="Username"/>
            </mat-form-field>
        </div>

        <div class="w-100" style="align-content: center;">
            <mat-form-field style="width:500px;">
                <input matInput placeholder="Password"/>
            </mat-form-field>
        </div>

        <div class="w-100" style="align-content: center;">
            <button mat-stroked-button color="primary" style="width:200px;">Login</button>
        </div>
    </div>
</form>