
<!-- 
<div class="container" style="height: 200px; align-content: flex-start; text-align: left;">
<mat-card class = "a_song_card">
    <div class="d-flex justify-content-between align-items-center " style="height: 200px;">
        <mat-card-header class="h-100">
            <img class="card-image" style="align-items: flex-center; text-align: center;" src="https://cdn1.thr.com/sites/default/files/imagecache/768x433/2019/12/_the_masked_singer_season_finale-_and_the_winner_takes_it_all_and_takes_it_off_split.jpg" >
                <div class="p-2" >
                    <mat-card-title style="font-size: 30px;">{{song}}</mat-card-title>
                    <mat-card-subtitle>{{artist}}</mat-card-subtitle>         
                </div>                                 
        </mat-card-header>

        
        <button (click)="addFavorite()" style="width: 145px; height:145px; text-align: left;" mat-icon-button color="warn" aria-label="Favorite">
            <mat-icon class="ml-4" style="font-size: 100px;">favorite</mat-icon>
        </button>
    </div>
</mat-card> -->

<!-- <mat-card class = "a_song_card">
    <mat-card-header>            
        <mat-card-title>{{song}}</mat-card-title>
        <mat-card-subtitle>{{artist}}</mat-card-subtitle>                                          
    </mat-card-header>
    <img mat-card-image class="card-image" style="align-items: flex-center; text-align: center;" src="https://cdn1.thr.com/sites/default/files/imagecache/768x433/2019/12/_the_masked_singer_season_finale-_and_the_winner_takes_it_all_and_takes_it_off_split.jpg" >
    <mat-card-actions>
        <button mat-button (click)="addFavorite()" style="width: 145px; height:145px; text-align: left;" mat-icon-button color="warn" aria-label="Favorite">
            <mat-icon class="ml-4" style="font-size: 100px;">favorite</mat-icon>
        </button>
    </mat-card-actions>
</mat-card> -->


<mat-card style="margin:2em; padding: 2em;">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image style="height: 290px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

        <mat-card-actions style="text-align: center;">
            <button mat-button (click)="addFavorite()" style="width: 50px; height:50px; background-color:red; text-align: left;" mat-icon-button color="warn" aria-label="Favorite">
                <mat-icon class="ml-4" style="font-size: 50px;">favorite</mat-icon>
            </button>
        </mat-card-actions>
</mat-card>
