<form>
    <div class="form-row ml-5 mr-5 mt-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="Song"  name="songSearch" [(ngModel)]="songSearch"> 
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Artist" name="artistSearch" [(ngModel)]="artistSearch">
        </div>
        <div class="col">
            <select id="inputState" class="form-control">
                <option selected>Select Country</option>
                <option>USA</option>
            </select>
        </div>
        <div class="col-3">
            <input type="button" class="form-control" (click)="onSearchClicked($event)" value='Search'>
        </div>
    </div>
</form>
{{songSearch}}

<div class="container-fluid">
    <app-song-card *ngFor="let song of tracks" [song]="song.songName" [artist]=song.artistName></app-song-card>
</div>