<form>
    <div class="form-row ml-5 mr-5 mt-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="Song"  name="songSearch" [(ngModel)]="songSearch"> 
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Artist" name="artistSearch" [(ngModel)]="artistSearch">
        </div>
        <div class="col">
            <select id="inputState" class="form-control" name="countrySearch" [(ngModel)]="countrySearch">
                <option selected>Select Country</option>
                <option>United States</option>
                <option>United Kingdom</option>
                <option>Germany</option>
                <option>Canada</option>
                <option>Ireland</option>
                <option>Australia</option>
                <option>New Zealand</option>
                <option>Brazil</option>
            </select>
        </div>
        <div class="col-3">
            <input type="button" class="form-control" (click)="onSearchClicked($event)" value='Search'>
        </div>
    </div>
</form>

<!-- <mat-grid-list cols=4 style="margin-top: 100px;">
    <mat-grid-tile *ngFor="let song of tracks" class="container-fluid" >
        <app-song-card  [song]=song.songName [artist]=song.artistName [image]=song.image class="container-fluid" style="margin-top: 100px; margin-bottom: 100px; margin-left: 50px; margin-right: 50px;"></app-song-card>
    </mat-grid-tile>
</mat-grid-list> -->

<div *ngIf="isSearching && (tracks != null);">
    <div class="container-fluid">
        <div class="row">
            <app-song-card *ngFor="let song of tracks" [song]=song.songName [artist]=song.artistName [image]=song.image [isFavorited]=false></app-song-card>
        </div>
    </div>
</div>
<div *ngIf="isSearching && (tracks == null);">
    <h2 style="text-align: center; margin-top: 100px;">Searching...</h2>
</div>